/POS/NBProjects/GenerischeZahlenmenge/build/
/POS/NBProjects/GenerischeZahlenmenge/dist/
/POS/NBProjects/mavenproject1/target/
/POS/NBProjects/Airlines/target/
/POS/NBProjects/NVS-Sockets/target/
/POS/NBProjects/PA3_Schneider_Armin/target/
